<%- include header %>
<div class="main contentBox" style="">
    博客说明 <br/><br/>

    本博客是看书《nodeJS实战》时的练习作品 <br/>
    主要涉及到node、express、mongodb<br/>
    与书中相比，网站结构有一定的改变 <br/>
    由于网站服务器为本机搭建，所以不能保证博客长期处于可用状态， <br/>
    且网速可能有点慢，望多多包涵
</div>
<div class="main contentBox" style="padding: 10px;border-radius:10px;border: 1px solid #cccccc;width: 100%;">
    博主资料 <br/><br/>
    昵称：墨染 <br/>
    年龄：23 <br/>
    住址：江苏 <br/><br/>
    博主是就读于江苏科技大学的大四在校生，材料成型及控制工程专业 <br/>
    热爱计算机、喜欢前端，希望未来可以从事web相关工作 <br/>
    希望近期可以找到web前端的实习 <br/>
    也想要能遇到志同道合的计算机专业好友共同进步 <br/><br/>
    QQ：526333257
    <a href="/jianli" class="aButton">简历详情</a>
</div>
<div style="height: 50px;width: 1px"></div>

<%- include footer %>

