<%-include background.ejs%>
<!DOCTYPE html>
<!-- saved from url=(0061)http://www.shixiseng.com/trainee/resume/view/res_0m96cxik5jkv -->
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>简历预览</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jianli01.css">
    <style>
        .divmain{
            margin: 30px;
            background-color: rgba(255, 255, 255,.9);
            -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
            border: 1px solid #000 \9;

        }

    </style>
</head><body class="preview_content">
<div class="divmain">
    <a href="/" class="BlueButton left">返回首页</a>
    <hr>
    <div class="box border_box" style="width:70%;height:auto;padding: 3%;text-align: center;background-color: transparent;">
        <h1 style="color: #696969;font-size: 40px">江鹏</h1>
        <ul class="ul_list">
            <li><img src="http://www.sxsimg.com/static/img/resume/template_mobile.png?v=0630b103047e3520798757f7e5588a64" alt="" width="15px"> 18006247151</li>
            <li><img src="http://www.sxsimg.com/static/img/resume/template_mail.png?v=7edd120a6fed83a6138601c171989c58" alt="" width="15px"> 526333257@qq.com</li>
        </ul>
    </div>
    <div class="box border_box" style="width:30%;height:auto;text-align: left;padding-top:3%;">
        <img src="http://www.sxsimg.com/static/img/default/default_headpic.png" width="110px" height="110px">
    </div>
    <table>
        <tbody>
        <tr>
            <td>
                <div class="box border_box" style="width:20%;height:auto;padding: 1%;text-align: center;background-color: #fff;">
                    <div class="cell border_box" style="color: #696969;">期望工作
                    </div>
                </div>
                <div class="box border_box_one" style="width:80%;height:auto;padding: 2%;text-align: left;background-color:transparent;"> <p>意向城市苏州、南京、上海 |
                        期望3000月薪
                        <br/>
                        预计到岗日期2016-01-01
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>



    <table>
        <tbody>
        <tr>
            <td>
                <div class="box border_box" style="width:20%;height:auto;padding: 1%;text-align: center;background-color: #fff;">
                    <div class="cell border_box" style="color: #696969;">大学经历
                    </div>
                </div>
                <div class="box border_box_one" style="width:80%;height:auto;padding: 2%;text-align: left;background-color:transparent;">
                    <h1>校内职务</h1>
                    <pre>在校期间C++成绩名列前茅，曾在学生会宣传部内任海报绘制工作。</pre>

                    <h1>获得证书</h1>
                    <pre>已通过江苏省C++二级考试，获得“献礼校庆80周年”书画摄影比赛绘画类一等奖。</pre>

                </div>
            </td>
        </tr>
        </tbody>
    </table>




    <table>
        <tbody>
        <tr>
            <td>
                <div class="box border_box" style="width:20%;height:auto;padding: 1%;text-align: center;background-color: #fff;">
                    <div class="cell border_box" style="color: #696969;">作品展示
                    </div>
                </div>
                <div class="box border_box_one" style="width:80%;height:auto;padding: 2%;text-align: left;background-color:transparent;">
                    <h1> 网址:<a href="http://moran.ngrok.natapp.cn/" target="_blank" style="color: #5f5f5f">http://moran.ngrok.natapp.cn/</a></h1>
                    <p style="text-indent: 2em;">未完工博客(后台为nodejs)
                        服务器为本地搭建，故不能保证长期开放。
                        若访问时博客未开放，可电话联系</p>

                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td>
                <div class="box border_box" style="width:20%;height:auto;padding: 1%;text-align: center;background-color: #fff;">
                    <div class="cell border_box" style="color: #696969;">自我描述
                    </div>
                </div>
                <div class="box border_box_one" style="width:80%;height:auto;padding: 2%;text-align: left;background-color:transparent;">
                 <pre>熟练html5、css3、javascript、Jquery，
了解bootstrap、angularJS、nodejs，
可熟练使用html+CSS搭建各种布局，
理解JS的闭包、面向对象等用法，
可使用原生JS+html+CSS完成轮播、标签切换等常见特效，
可以使用JS+html5(canvas)制作小动画和小游戏，
会使用CSS3完成常见动画效果和3D特效，
可以使用angularJS完成简单的单页面应用。
可以使用node完成功能简单的全栈建设。
对于计算机有很强的学习热情和自学能力，注重用户体验。
平时爱好绘画，有较强的绘图能力</pre>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>

</body></html>